#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  color: var(--color-primary);
  margin: 0 0 4rem 0;
}

input {
  width: 64vw;
  height: 64px;
  border-radius: 64px;
  outline: none;
  background: var(--color-background);
  border: 2px solid var(--color-primary);
  color: var(--color-font);
  padding-left: 32px;
  font-size: 16px;
}
